body {
  /* Setting own fonts */
  font-family: Verdana, Helvetica, Sans-Serif;
  font-size: 16px;
}

.navbar-custom {
    background: #99cfe0;
    border-bottom: solid 2px #72bcd4;
}

.white-link {
    color: white !important;
}

.white-link:hover {
    color: #ffff9d !important;
}

li.active .white-link {
    background: #72bcd4 !important;
}

.small-image {
  width: 32px;
  height: 32px;
}

#images-left {
    position: relative;
    width: 640px;
    height: 340px;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

#images-left img {
    width: 190px;
    height: 190px;
    margin: 5px;
}

#login-right {
    float: left;
    height: 300px;
    margin-left: 15px;
}

#image-about {
    width: 504px;
    height: 532px;
    margin: 0 auto;
}

.container-centre {
    width: 100%;
    text-align: center;
}

.jumbotron p {
    font-size: 15px;
}

#profile-right {
    float: right;
    width: 200px;
}

#images-myaccount {
    position: relative;
    height: 210px;
    float: inherit;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space:nowrap
}

#images-myaccount img {
    width: 190px;
    height: 190px;
    margin: 5px;
    display:inline-block;
}

.jumbotron {
    overflow: hidden;
    text-align: justify;
}

.col-md-2 .btn {
    margin: 5px;
}

.btn-group button{
    background-color:lightblue;
}

#login_form table{
  border-spacing: 2px;
  border-collapse: inherit;
}

#login_form td{
  padding-bottom: 5px;
}

#login_form .login-button{
  margin-bottom: 4px;
}
