<!-- About page template. Description of the PawPal application and how it works. -->
{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
    About
{% endblock %}

{% block menubutton1_active %}{% endblock %}
{% block menubutton2_active %}class="active"{% endblock %}
{% block menubutton3_active %}{% endblock %}
{% block menubutton4_active %}{% endblock %}

{% block body_block %}
    <h2>About us</h2>

    <div class="about-text">
        <p>Have you ever had a bad day and wanted to find a furry creature that is always
            happy to cuddle? Do you find yourself lonely and need a bit of warmth? Or do you
            just want to spend some time actively with an energetic companion?</p>
        <p>Regardless of your reason, now you have the opportunity to get all of that!</p>
        <p>Our new web application PawPal is going to enable its users to connect with animal
            owners in their neighbourhood and arrange a meeting. By allowing the user to take
            an animal for a walk, feed it or pet it, and enabling them to “rent” an animal for
            some time, the new web application is meant to give the users the opportunity to
            unwind, reduce stress and make new connections while actively spending time
            with animals (and possibly their owners).</p>
        <p>With the ability to rate an animal as easy/difficult to care and the ability to rate the
            animal as well as the user, the application will make it easy to find a match, that
            would suit their skills and needs, even for the inexperienced animal lovers.</p>
        <p>The users will be able to contact each other once they’ve expressed the interest in
            the pet.</p>
    </div>

    <div class="container-centre">
        <h2>How does it work?</h2>
        <img src="{% static 'images/about.jpg' %}" id="image-about">
    </div>

{% endblock %}
