<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>About</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
    body{
    	padding-top: 70px;
    }
</style>
	<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" />
</head>
<body>
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">PawPal</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="nav navbar-nav">
				<li><a href="/pawpal/home/">Home</a></li>
				<li class="active"><a href="/pawpal/about/">About Us</a></li>
				<li><a href="/pawpal/contact/">Contact Us</a></li>
             	<li><a href="/pawpal/myaccount/">My Account</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="jumbotron">
		<h2>About us</h2>
		<p>Have you ever had a bad day and wanted to find a furry creature that is always
happy to cuddle? Do you find yourself lonely and need a bit of warmth? Or do you
just want to spend some time actively with an energetic companion?</p>
<p>Regardless of your reason, now you have the opportunity to get all of that!</p>
<p>Our new web application PawPal is going to enable its users to connect with animal
owners in their neighbourhood and arrange a meeting. By allowing the user to take
an animal for a walk, feed it or pet it, and enabling them to “rent” an animal for
some time, the new web application is meant to give the users the opportunity to
unwind, reduce stress and make new connections while actively spending time
with animals (and possibly their owners).</p>
<p>With the ability to rate an animal as easy/difficult to care and the ability to rate the
animal as well as the user, the application will make it easy to find a match, that
would suit their skills and needs, even for the inexperienced animal lovers.</p>
<p>The users will be able to contact each other once they’ve expressed the interest in
the pet.</p>
		<div class="container-centre">
		<h2>How it works?</h2>
		<img src="{% static 'images/about.jpg' %}" id="image-about">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; This is a footer in case you wanna put something.</p>
			</footer>
		</div>
	</div>
</div>
</body>
</html>
